<nav class="navbar navbar-light bg-info">
  <a class="navbar-brand" href="/">
    <img src="/img/home-icon.png" class="icon-home rounded border border-primary">
  </a>
  <a class="navbar-brand text-light" href="/perguntar">
    <span>Perguntar</span>
  </a>
</nav>