<%- include("partials/header.ejs") %>
<body>
  <%- include("partials/navbar.ejs") %>
  <div class="container">
    <h1 id="formulario-responder">Página não encontrada</h1>
    <h3 id="formulario-responder">Deseja fazer uma pergunta?</h3>
    <a href="/perguntar" class="btn btn-info" id="formulario-responder">Perguntar</a href="/perguntar" class="btn btn-info">
  </div>
</body>
<%- include("partials/footer.ejs") %>